@font-face {
  font-family: gym;
  src: url("/assets/NCLMonsterBeast-Demo.otf");
}

#root {

  margin: 2;
  padding: 2;
  box-sizing: border-box;
  text-align: center;

}
html, body {
  height: 100%;
  user-select: none;
}

body {
  display: flex;
  flex-direction: column;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}


.gymfont {
  font-family: gym;
  letter-spacing: 1.5px;
  font-weight: 300;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.gympng {
  background-image: url("/assets/bg.png");
  background-position: center;
  background-repeat: repeat;
  height: 100%;
}

.w {
  width: 130px;
  height: 180px;
}

.typewriter h1 {

  width: 22ch;
  overflow: hidden;
  white-space: nowrap;

  animation: 
    typing 3s steps(20, end) , 
    blink-caret 0.75s step-end ;
}

@keyframes typing {
  from { width: 0; }
  to { width: 22ch; }
}


@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white }
}
li{
  padding: 3px;
  margin: 3px;
}

.silver-text{
  color:#C0C0C0;
}
.bronze-text{
  color:#CD7F32;
}

.glass {
  background: rgba(255, 255, 255, 0.1); /* semi-transparent */
  border-radius: 16px;
  backdrop-filter: blur(10px); /* glass blur effect */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  border: 1px solid rgba(244, 235, 235, 0.616); /* subtle border */
  padding: 20px;
}
.glass-white {
  background: rgba(252, 252, 252, 0.751); /* semi-transparent */
  border-radius: 16px;
  backdrop-filter: blur(10px); /* glass blur effect */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  border: 1px solid rgba(244, 235, 235, 0.616); /* subtle border */
  padding: 20px;
}
.glass-nav {
  background: rgba(1, 17, 36, 0.411); /* semi-transparent */
  border-radius: 16px;
  backdrop-filter: blur(10px); /* glass blur effect */
  -webkit-backdrop-filter: blur(10px); /* Safari support */  
  padding: 20px;

}
.glass-button {
  background: rgba(1, 17, 36, 0.411); /* semi-transparent */
  border-radius: 16px;
  backdrop-filter: blur(10px); /* glass blur effect */
  -webkit-backdrop-filter: blur(10px); /* Safari support */  
  padding: 20px;
  border: 3px solid white;
}
.glass-class {
  background: rgba(0, 119, 255, 0.272); /* semi-transparent */
  border-radius: 16px;
  backdrop-filter: blur(10px); /* glass blur effect */
  -webkit-backdrop-filter: blur(10px); /* Safari support */  
  padding: 20px;
}
.glass-class-ladies {
  background: rgba(255, 0, 212, 0.272); /* semi-transparent */
  border-radius: 16px;
  backdrop-filter: blur(10px); /* glass blur effect */
  -webkit-backdrop-filter: blur(10px); /* Safari support */  
  padding: 20px;
}
.glass-class-mem {
  background: rgba(109, 109, 109, 0.272); /* semi-transparent */
  border-radius: 16px;
  backdrop-filter: blur(10px); /* glass blur effect */
  -webkit-backdrop-filter: blur(10px); /* Safari support */  
  padding: 20px;
}
.glass-gold {
  background: rgba(255, 247, 19, 0.306); /* semi-transparent */
  border-radius: 16px;
  backdrop-filter: blur(10px); /* glass blur effect */
  -webkit-backdrop-filter: blur(10px); /* Safari support */  
  padding: 20px;
}

.marquee {
  width: 100%;
  overflow: hidden;
  background: rgba(0, 102, 255, 0.486);
  color: white;
  white-space: nowrap;
  position: relative;
  padding: 20px;
}

.marquee p {
  font: gymfont;
  font-weight: bold;
  font-size: 2em;
  display: inline-block;
  padding-left: 100%; /* push text to start from right */
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
