@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-white;
}

.gold {
  @apply bg-blue-500;
}

.sale {
  @apply bg-slate-700 absolute top-0 right-1 p-1;
}

.row {
  @apply flex flex-wrap py-4 items-end;
}

.btn {
  @apply bg-transparent text-slate-100 rounded-lg border p-2;
}

.w-90 {
  @apply w-[90%];
}

@media only screen and (min-width: 720px) {
  .prod:hover .btn {
    @apply opacity-100 translate-y-12 transition-all duration-500;
  }
}

* {
  margin: 0;
  padding: 0;
}

.active {
  @apply bg-transparent border-b-2 border-green-500 p-4;
}

/* .loader {
  top: 200px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #FFF #FFF transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0px;
  margin: auto;
  border: 3px solid;
  border-color: transparent green green;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
} */

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
